

.container {
  width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #303030;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 96px;
    height: 36px;
  }
  &__nav {
    width: 55%;
    display: flex;
    justify-content: flex-end;
  }
  &__item {
     margin-left: 43px;
  }
  &__item-link {
    text-decoration: none;
    // color: #fff;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    padding-bottom: 30px;
    // border-bottom: 2px solid #fff;
  }
  &__person {
    display: flex;
    align-items: center;
  }
  &__person-img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
  &__line {
    position: absolute;
    width: 75px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    transition: all .3s;
  }
}
