@font-face {
  font-family: 'Rotterburg Stylish FREE';
  src: url('/src/assets/fonts/rotterburg/RotterburgStylishRegular.woff2') format('woff2'),
      url('/src/assets/fonts/rotterburg/RotterburgStylishRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}