
.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: #CDB294;
  }
  &__img {
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
  &__info {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  &__text {
    font-weight: 900;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 10px;
    color: #000;
  }
  &__nextpage {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 21px;
    color: #000;
  }
  &__link {
    color: #549FF9;
    text-decoration: none;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 330px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 16px 29px 10px 29px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 16px;
    border: 1px solid #B4B4BB;
    background-color: #fff;
    color: #aaa;
  }
  &__btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    border-radius: 99px;
    margin-top: 14px;
    margin-bottom: 14px;
    color: #fff;
    background: #152540;
    border: none;
    cursor: pointer;
  }
  &__btnlink{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    border-radius: 99px;
    color: #fff;
    background: #152540;
    cursor: pointer;
  }
}
.input-validation {
  font-size: 14px;
}


